.tabla_etiqueta{
    width: 700px;
	height:300px;
	margin-left: 10%;	
	margin-top: 5%;
}

.table_etiqueta_datos{
	margin-top: 10%;
}

.titulo{
	font-size: xx-small;

}
.img_principal{

	width: 50%;
	height: 50%;
	margin-left: 10%;
	float: left  ;
}

.img_texto{

	width: 50%;
	height: 50%;
	
	float: left  ;
}

.text_etiqueta{
	width: 20%;
	height: 100%;
	margin-top: 8%;
	margin-left: 4%;
	
	float: left  ;
}

.lectura{
	float: left;
	margin-left: 10%;	
	margin-top: 35%;

}

.logo{
	float: left;
	margin-left: 10%;	
	margin-top: 55%;	
}

.img_logo{
	
    width: 15%;
	height: 30%;
	margin-left: 
	float: left;  ;

}

.mapa{
	float: left;
	margin-left: 10%;	
	margin-top: 12%;
}

.tabla_web{
	width: 50%;
	height: 100%;
	float:left;
}

.img_similares{
	width: 300px;
	height: 200px;

}

.img_patos{
	
    width: 20%;
	height: 30%;
	margin-left: 5%;
	float: left;  ;

}
.cont_etiqueta{
	width: 20%;
	height: 100%;
	margin-top: 0%;
	margin-left: 4%;
	
	float: left  ;
}